{% extends "Section/ListSection.html.twig" %}
{% set section = fsc.getCurrentSection() %}

{% block sectionBody %}
    <ul>
        {% for docPage in section.cursor %}
            <li>
                <a href="{{ docPage.url('public') }}" target="_blank">{{ docPage.title }}</a>
                {% for childrenPage in docPage.getChildrenPages() %}
                    <ul>
                        <li>
                            <a href="{{ childrenPage.url('public') }}" target="_blank">{{ childrenPage.title }}</a>
                        </li>
                    </ul>
                {% endfor %}
            </li>
        {% else %}
            <li>
                {{ i18n.trans('no-data') }}
            </li>
        {% endfor %}
    </ul>

    {% if fsc.contactCanEdit() %}
        <a class="btn" href="{{ asset('EditWebDocPage?idproject=' ~ fsc.getMainModel().idproject ~ '&langcode=' ~ fsc.webPage.langcode) }}">
            <i class="fas fa-file fa-fw" aria-hidden="true"></i> {{ i18n.trans('add') }}
        </a>
    {% endif %}
{% endblock %}