{% extends "Section/ListSection.html.twig" %}
{% set issue = fsc.getMainModel() %}
{% set section = fsc.getCurrentSection() %}

{% block sectionBody %}
    <div class="custom-scroll">
        {% for comment in section.cursor %}
            <div class="divider text-center" data-content="{{ comment.getContactAlias() }} - {{ comment.creationdate }}"></div>
            <div class="tile">
                <div class="tile-icon">
                    <a href="{{ asset(comment.getContactProfile()) }}" class="avatar avatar-xl">
                        {% set contact = comment.getContact() %}
                        <img src="{{ contact.gravatar() }}" alt="{{ comment.getContactAlias() }}"/>
                    </a>
                </div>
                <div id="comm{{ comment.primaryColumnValue() }}" class="tile-content">
                    {{ comment.html() | raw }}
                </div>
                {% if fsc.contactCanEdit() %}
                    <div class="tile-action">
                        <button class="btn btn-sm btn-error" onclick="deleteComment('{{ comment.idcomment }}');" title="{{ i18n.trans('delete') }}">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    {% if issue.closed %}
        <div class="divider text-center"></div>
        <form method="post">
            <input type="hidden" name="action" value="re-open"/>
            <button type="submit" class="btn btn-block btn-success">
                <i class="fas fa-lock-open fa-fw"></i> {{ i18n.trans('re-open') }}
            </button>
        </form>
    {% else %}
        <br/>
        <form method="post">
            <input type="hidden" name="action" value="new-comment"/>
            <div class="form-group">
                <textarea name="newComment" class="form-input" placeholder="{{ i18n.trans('new-comment') }}" rows="6"></textarea>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">
                    {{ i18n.trans('send') }}
                </button>
                {% if fsc.contact and issue.idcontacto == fsc.contact.idcontacto %}
                    <button type="submit" name="close" value="TRUE" class="btn btn-success">
                        {{ i18n.trans('send') }} + {{ i18n.trans('solved') }}
                    </button>
                {% else %}
                    <button type="submit" name="close" value="TRUE" class="btn btn-error">
                        {{ i18n.trans('send') }} + {{ i18n.trans('close') }}
                    </button>
                {% endif %}
            </div>
        </form>
    {% endif %}

    <script>
        function deleteComment(idcomment) {
            var form = $('<form action="#" method="post"></form>');
            form.append(`<input type="hidden" name="action" value="delete-comment" />`);
            form.append(`<input type="hidden" name="idcomment" value="${idcomment}" />`);
            form.append(`<button type="submit"></button>`);
            $("body").append(form);

            if (confirm("{{ i18n.trans('are-you-sure') }}", false)) {
                form.submit();
            }
        }
    </script>
{% endblock %}