{% set section = fsc.getCurrentSection() %}

<div class="custom-scroll">
    {% for comment in section.cursor %}
        {% set contact = comment.getContact() %}
        <div class="divider text-center" data-content="{{ contact.fullName() }} - {{ comment.creationdate }}"></div>
        <div class="tile">
            <div class="tile-icon">
                <figure class="avatar avatar-xl">
                    <img src="{{ fsc.getGravatar(contact.email) }}" alt="{{ fsc.obfuscateEmail(contact.email) }}"/>
                </figure>
            </div>
            <div class="tile-content">
                {{ comment.body | raw | nl2br }}
            </div>
        </div>
    {% endfor %}
</div>

{% if fsc.getIssue().closed %}
    <div class="divider text-center"></div>
    <form action="" method="post">
        <input type="hidden" name="action" value="re-open"/>
        <button type="submit" class="btn btn-block btn-success">
            {{ i18n.trans('open') }}
        </button>
    </form>
{% else %}
    <br/>
    <form action="" method="post">
        <input type="hidden" name="action" value="new-comment"/>
        <div class="form-group">
            <textarea name="newComment" class="form-input" placeholder="new comment" rows="6"></textarea>
        </div>
        <div class="text-right">
            <button type="submit" name="close" value="TRUE" class="btn btn-error">
                {{ i18n.trans('send') }} + {{ i18n.trans('close') }}
            </button>
            <button type="submit" class="btn btn-primary">
                {{ i18n.trans('send') }}
            </button>
        </div>
    </form>
{% endif %}