{% set language = fsc.getLanguageModel() %}

<div class="container">
    <div class="columns">
        <div class="column col-2 text-right">
            <i class="fa fa-language fa-3x fa-fw" aria-hidden="true"></i>
        </div>
        <div class="column">
            <h1 class="h3">{{ language.langcode }}</h1>
            <p>
                {{ language.description }}
                {% if language.idcontacto %}
                    <br/><b>{{ i18n.trans('mantainer') }}</b>: {{ language.getContactName() }}
                {% endif %}
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column col-2">
            <a href="{{ language.url('public-list') }}" class="btn">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                <span class="hide-xs">{{ i18n.trans('all') }}</span>
            </a>
        </div>
        <div class="column">
            {% if fsc.contactCanEdit() and language.exists() %}
                <div class="btn-group">
                    {% if fsc.contactCanAdd() and language.exists() %}
                        <a href="#" class="btn" onclick="return showModal('addTranslationModal');">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span class="hide-xs">{{ i18n.trans('add') }}</span>
                        </a>
                    {% endif %}
                    <a href="#" class="btn" onclick="return showModal('editLanguageModal');">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                        <span class="hide-xs">{{ i18n.trans('edit') }}</span>
                    </a>
                    <a href="#" class="btn btn-error" onclick="return showModal('deleteLanguageModal');">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        <span class="hide-xs">{{ i18n.trans('delete') }}</span>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<br/>
<br/>

<form action="" method="post">
    <input type="hidden" name="action" value="add"/>
    <div class="modal" id="addTranslationModal">
        <a href="#close" class="modal-overlay" aria-label="Close" onclick="return hideModal('addTranslationModal');"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href="#close" onclick="return hideModal('addTranslationModal');" class="btn btn-clear float-right" aria-label="Close"></a>
                <div class="modal-title h5">{{ i18n.trans('add') }}</div>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="form-group">
                        {{ i18n.trans('name') }}:
                        <input type="text" name="name" value="{{ translation.name }}" class="form-input" required=""/>
                    </div>
                    <div class="form-group">
                        {{ i18n.trans('description') }}:
                        <input type="text" name="description" value="{{ translation.description }}" class="form-input" required=""/>
                    </div>
                    <div class="form-group">
                        {{ i18n.trans('translation') }}:
                        <input type="text" name="translation" value="{{ translation.translation }}" class="form-input" required=""/>
                    </div>
                    <div class="form-group">
                        {{ i18n.trans('project') }}:
                        <select name="idproject" class="form-select">
                            <option value="">{{ i18n.trans('none') }}</option>
                            <option value="">------</option>
                            {% for project in fsc.projects %}
                                <option value="{{ project.idproject }}">{{ project.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-block btn-primary">
                        {{ i18n.trans('save') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<form action="" method="post">
    <input type="hidden" name="action" value="edit"/>
    <div class="modal" id="editLanguageModal">
        <a href="#close" class="modal-overlay" aria-label="Close" onclick="return hideModal('editLanguageModal');"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href="#close" onclick="return hideModal('editLanguageModal');" class="btn btn-clear float-right" aria-label="Close"></a>
                <div class="modal-title h5">{{ i18n.trans('edit') }}</div>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="form-group">
                        {{ i18n.trans('description') }}:
                        <textarea name="description" class="form-input" rows="3">{{ language.description }}</textarea>
                    </div>
                    <div class="form-group">
                        {{ i18n.trans('parent') }}:
                        <select name="parentcode" class="form-select">
                            <option value="">{{ i18n.trans('none') }}</option>
                            <option value="">------</option>
                            {% for lang2 in fsc.getParentLanguages() %}
                                {% if lang2.langcode == language.parentcode %}
                                    <option value="{{ lang2.langcode }}" selected="">{{ lang2.langcode }} | {{ lang2.description }}</option>
                                {% else %}
                                    <option value="{{ lang2.langcode }}">{{ lang2.langcode }} | {{ lang2.description }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        {{ i18n.trans('mantainer') }}:
                        <select name="idcontacto" class="form-select">
                            <option value="">{{ i18n.trans('none') }}</option>
                            <option value="">------</option>
                            {% for contact in fsc.getTeamMembers() %}
                                {% if contact.idcontacto == language.idcontacto %}
                                    <option value="{{ contact.idcontacto }}" selected="">{{ contact.fullName() }}</option>
                                {% else %}
                                    <option value="{{ contact.idcontacto }}">{{ contact.fullName() }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-block btn-primary">
                        {{ i18n.trans('save') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal modal-sm" id="deleteLanguageModal">
    <a href="#close" class="modal-overlay" aria-label="Close" onclick="return hideModal('deleteLanguageModal');"></a>
    <div class="modal-container">
        <div class="modal-header">
            <a href="#close" onclick="return hideModal('deleteLanguageModal');" class="btn btn-clear float-right" aria-label="Close"></a>
            <div class="modal-title h5">{{ i18n.trans('confirm-delete') }}</div>
            <p>{{ i18n.trans('are-you-sure') }}</p>
        </div>
        <div class="modal-body">
            <div class="content">
                <a href="{{ language.url() }}&action=delete" class="btn btn-error">
                    <i class="fa fa-trash fa-fw" aria-hidden="true"></i> {{ i18n.trans('delete') }}
                </a>
            </div>
        </div>
    </div>
</div>