<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ i18n.trans('code') }}</th>
            <th>{{ i18n.trans('description') }}</th>
            <th>{{ i18n.trans('parent') }}</th>
            <th class="text-right">{{ i18n.trans('number-of-translations') }}</th>
            <th class="text-right">{{ i18n.trans('needs-revision') }}</th>
        </tr>
    </thead>
    <tbody>
        {% set section = fsc.getCurrentSection() %}
        {% for language in section.cursor %}
            <tr>
                <td>
                    <a href="{{ language.url() }}">{{ language.langcode }}</a>
                </td>
                <td>{{ language.description }}</td>
                <td>{{ language.parentcode }}</td>
                <td class="text-right">{{ language.numtranslations }}</td>
                {% if language.needsrevision == 0 %}
                    <td class="text-right bg-success">{{ language.needsrevision }}</td>
                {% else %}
                    <td class="text-right bg-warning">{{ language.needsrevision }}</td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6" class="bg-warning">
                    {{ i18n.trans('no-data') }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
