{% set language = fsc.getMainModel() %}

<div class="container">
    <div class="columns">
        <div class="column col-2 col-xs-12 text-right">
            <i class="fas fa-language fa-3x fa-fw" aria-hidden="true"></i>
        </div>
        <div class="column">
            <h1 class="h3">{{ language.langcode }}</h1>
            <p>
                {{ language.description }}
                {% if language.idcontacto %}
                    <br/><b>{{ i18n.trans('mantainer') }}</b>:
                    <a href="{{ asset(language.getContactProfile()) }}">{{ language.getContactAlias() }}</a>
                {% endif %}
            </p>
        </div>
    </div>
</div>
<br/>