{% import _self as macros %}
{% set plugin = fsc.getMainModel() %}

<div class="container">
    <div class="columns">
        <div class="column col-2 col-xs-12 text-right">
            <i class="fas fa-plug fa-5x fa-fw" aria-hidden="true"></i>
        </div>
        <div class="column col-10 col-xs-12">
            <h1 class="h3">
                Plugin {{ plugin.name }}
            </h1>
            <p>
                {{ plugin.description | raw | nl2br }}
                {% if plugin.idcontacto %}
                    <br/><b>{{ i18n.trans('mantainer') }}</b>:
                    <a href="{{ asset(plugin.getContactProfile()) }}">{{ plugin.getContactAlias() }}</a>
                {% endif %}
            </p>
            {{ macros.downloadButton(plugin, i18n, fsc) }}
            <br/><br/>
            {{ macros.healthTable(plugin, i18n, fsc) }}
        </div>
    </div>
</div>
<br/>

{% macro downloadButton(plugin, i18n, fsc) %}
    <div class="btn-group">
        {% if plugin.version > 0 %}
            <a href="{{ asset('DownloadBuild/' ~ plugin.idproject ~ '/stable') }}" class="btn btn-success">
                <i class="fas fa-download fa-fw" aria-hidden="true"></i>
                <span class="hide-xs">{{ i18n.trans('download') }}</span>
            </a>
        {% endif %}
        {% if plugin.publicrepo %}
            <a href="{{ plugin.publicrepo }}" target="_blank" rel="nofollow" class="btn">
                <i class="fab fa-git fa-fw" aria-hidden="true"></i>
                <span class="hide-xs">{{ i18n.trans('source-code') }}</span>
            </a>
        {% endif %}
    </div>
{% endmacro %}

{% macro healthTable(plugin, i18n, fsc) %}
    {% set license = fsc.getLicense(plugin.license) %}
    <div class="custom-scroll">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        {{ i18n.trans('version') }}
                    </th>
                    <th>
                        {{ i18n.trans('last-update') }}
                    </th>
                    <th>
                        {{ i18n.trans('downloads') }}
                    </th>
                    <th>
                        {{ i18n.trans('license') }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% set tdClass = (plugin.version > 1) ? 'bg-success' : 'bg-error' %}
                    <td class="{{ tdClass }}">{{ plugin.version }}</td>
                    {% set tdClass = fsc.isDateOld(plugin.lastmod, '-6 months') ? 'bg-error' : 'bg-success' %}
                    <td class="{{ tdClass }}">{{ plugin.lastmod }}</td>
                    {% set tdClass = (plugin.downloads < 1000) ? 'bg-error' : 'bg-success' %}
                    <td class="{{ tdClass }}">{{ plugin.downloads }}</td>
                    {% set tdClass = (license.name == 'EULA') ? 'bg-warning' : 'bg-success' %}
                    <td class="{{ tdClass }} c-hand" onclick="showModal('modalLicense');">
                        {{ license.title }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal" id="modalLicense">
        <a href="#close" class="modal-overlay" aria-label="Close" onclick="return hideModal('modalLicense');"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href="#close" onclick="return hideModal('modalLicense');" class="btn btn-clear float-right" aria-label="Close"></a>
                <div class="modal-title h5">{{ license.title }}</div>
            </div>
            <div class="modal-body">
                <div class="content">
                    {{ license.description | raw | nl2br }}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}