{% import _self as macros %}
{% set plugin = fsc.getProject() %}

<div class="container">
    <div class="columns">
        <div class="column col-2 col-xs-12 text-right">
            <i class="fas fa-plug fa-5x fa-fw" aria-hidden="true"></i>
        </div>
        <div class="column col-10 col-xs-12">
            <h1 class="h3">
                Plugin {{ plugin.name }}
            </h1>
            <p>
                {{ plugin.description }}
                {% if plugin.idcontacto %}
                    <br/><b>{{ i18n.trans('mantainer') }}</b>: {{ plugin.getContactName() }}
                {% endif %}
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column col-2">
        </div>
        <div class="column">
            {{ macros.downloadButton(plugin, i18n, fsc) }}
        </div>
    </div>
</div>
<br/>

{% macro downloadButton(plugin, i18n, fsc) %}
    {% if plugin.publicrepo %}
        <div class="btn-group">
            <a href="{{ plugin.publicrepo }}" target="_blank" rel="nofollow" class="btn btn-success">
                <i class="fab fa-git fa-fw" aria-hidden="true"></i>
                <span class="hide-xs">{{ i18n.trans('source-code') }}</span>
            </a>
        </div>
    {% endif %}
{% endmacro %}