{% set profile = fsc.getMainModel() %}

<div class="container">
    <div class="columns">
        <div class="column col-2 col-xs-12 text-right">
            <img src="{{ profile.gravatar() }}" alt="{{ profile.alias() }}" class="custom-img-responsive"/>
        </div>
        <div class="column col-10 col-xs-12">
            <h1 class="h3">
                {{ profile.alias() }}
                <br/>
                {{ profile.fullName() }}
            </h1>
            <div class="custom-scroll">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                {{ i18n.trans('points') }}
                            </th>
                            <th>
                                {{ i18n.trans('country') }}
                            </th>
                            <th>
                                {{ i18n.trans('create-date') }}
                            </th>
                            <th>
                                {{ i18n.trans('last-activity') }}
                            </th>
                            <th>
                                {{ i18n.trans('verified') }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% set tdClass = (profile.puntos > 0) ? 'bg-success' : 'bg-warning' %}
                            <td class="{{ tdClass }}">{{ profile.puntos }}</td>
                            <td class="bg-success">{{ profile.country() }}</td>
                            {% set tdClass = fsc.isDateOld(profile.fechaalta, '-3 months') ? 'bg-success' : 'bg-error' %}
                            <td class="{{ tdClass }}">{{ profile.fechaalta }}</td>
                            {% set tdClass = fsc.isDateOld(profile.lastactivity, '-2 months') ? 'bg-error' : 'bg-success' %}
                            <td class="{{ tdClass }}">{{ profile.lastactivity | date('d-m-Y') }}</td>
                            {% set tdClass = profile.verificado ? 'bg-success' : 'bg-error' %}
                            <td class="{{ tdClass }}">{{ profile.verificado ? i18n.trans('yes') : i18n.trans('no') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br/>