<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ i18n.trans('name') }}</th>
            <th>{{ i18n.trans('description') }}</th>
            <th class="text-right">{{ i18n.trans('members') }}</th>
            <th class="text-right">{{ i18n.trans('requests') }}</th>
        </tr>
    </thead>
    <tbody>
        {% set section = fsc.getCurrentSection() %}
        {% for team in section.cursor %}
            <tr>
                <td>
                    <a href="{{ team.url('public') }}">{{ team.name }}</a>
                </td>
                <td>{{ team.description() | raw }}</td>
                <td class="text-right">{{ team.nummembers }}</td>
                <td class="text-right">{{ team.numrequests }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="bg-warning">
                    {{ i18n.trans('no-data') }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
