{% extends "Section/ListSection.html.twig" %}
{% set section = fsc.getCurrentSection() %}

{% block sectionBody %}
    <div class="custom-scroll">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    {% if 'team' not in fsc.sections | keys %}
                        <th>
                            {{ i18n.trans('team') }}
                        </th>
                    {% endif %}
                    <th>{{ i18n.trans('name') }}</th>
                    <th>{{ i18n.trans('description') }}</th>
                    <th class="text-right">{{ i18n.trans('date') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for log in section.cursor %}
                    <tr>
                        {% if 'team' not in fsc.sections | keys %}
                            <td>
                                {% set team = log.getTeam() %}
                                <a href="{{ team.url('public') }}">{{ team.name }}</a>
                            </td>
                        {% endif %}
                        <td>
                            {% set contact = log.getContact() %}
                            {% if contact %}
                                <a href="{{ asset(log.getContactProfile()) }}">{{ log.getContactAlias() }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if log.link %}
                                <a href="{{ asset(log.link) }}">{{ log.description }}</a>
                            {% else %}
                                {{ log.description }}
                            {% endif %}
                        </td>
                        <td class="text-right">{{ log.time }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="bg-warning">
                            {{ i18n.trans('no-data') }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}