{% set team = fsc.getTeam() %}

<div class="container">
    <div class="columns">
        <div class="column col-2 text-right">
            <i class="fas fa-users fa-3x fa-fw" aria-hidden="true"></i>
        </div>
        <div class="column">
            <h1 class="h3">
                {{ team.name }}
            </h1>
            <p>{{ team.description | raw }}</p>
        </div>
    </div>
    <div class="columns">
        <div class="column col-2">
        </div>
        <div class="column">
            {% if fsc.showJoinButton() %}
                <a href="{{ team.url('public') }}?action=join" class="btn btn-success">
                    <i class="fas fa-sign-in" aria-hidden="true"></i> {{ i18n.trans('join') }}
                </a>
            {% elseif fsc.contact %}
                <a href="{{ team.url('public') }}?action=leave" class="btn btn-error">
                    <i class="fas fa-sign-out-alt" aria-hidden="true"></i> {{ i18n.trans('leave') }}
                </a>
            {% endif %}
        </div>
        <div class="column text-right">
            {% if fsc.contact %}
                <a href="#" class="btn" onclick="return showModal('editTeamModal');">
                    <i class="fas fa-edit" aria-hidden="true"></i>
                    <span class="hide-xs">{{ i18n.trans('edit') }}</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
<br/>

<form action="" method="post">
    <input type="hidden" name="action" value="edit"/>
    <div class="modal" id="editTeamModal">
        <a href="#close" class="modal-overlay" aria-label="Close" onclick="return hideModal('editTeamModal');"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href="#close" onclick="return hideModal('editTeamModal');" class="btn btn-clear float-right" aria-label="Close"></a>
                <div class="modal-title h5">{{ i18n.trans('description') }}</div>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="form-group">
                        <textarea name="description" class="form-input" rows="3">{{ team.description }}</textarea>
                    </div>
                    <button type="submit" class="btn btn-block btn-primary">
                        {{ i18n.trans('save') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>