{% set section = fsc.getCurrentSection() %}

<div class="custom-scroll">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{{ i18n.trans('name') }}</th>
                <th></th>
                <th class="text-right">{{ i18n.trans('date') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for member in section.cursor %}
                <tr>
                    <td>
                        {% set contact = member.getContact() %}
                        {% if contact %}
                            <a href="{{ asset(member.getContactProfile()) }}">{{ member.getContactAlias() }}</a>
                        {% endif %}
                    </td>
                    <td class="text-right">
                        {% if fsc.contactCanEdit() %}
                            {{ member.observations }}
                            {% if member.accepted == false %}
                                <a href="{{ member.url('accept') }}" class="btn btn-sm btn-success">{{ i18n.trans('accept') }}</a>
                                <a href="{{ member.url('expel') }}" class="btn btn-sm btn-error">{{ i18n.trans('cancel') }}</a>
                            {% else %}
                                <a href="{{ member.url('expel') }}" class="btn btn-sm btn-error">{{ i18n.trans('expel') }}</a>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td class="text-right">{{ member.creationdate }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="bg-warning">
                        {{ i18n.trans('no-data') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>