<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ i18n.trans('name') }}</th>
            <th>{{ i18n.trans('description') }}</th>
            <th class="text-right">{{ i18n.trans('date') }}</th>
        </tr>
    </thead>
    <tbody>
        {% set section = fsc.getCurrentSection() %}
        {% for log in section.cursor %}
            <tr>
                <td>{{ log.getContactName() }}</td>
                <td>{{ log.description }}</td>
                <td class="text-right">{{ log.time }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="bg-warning">
                    {{ i18n.trans('no-data') }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
