<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ i18n.trans('name') }}</th>
            <th>{{ i18n.trans('notes') }}</th>
            <th class="text-right">{{ i18n.trans('date') }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% set section = fsc.getCurrentSection() %}
        {% for team in section.cursor %}
            <tr>
                <td>{{ team.getName() }}</td>
                <td>{{ team.observations }}</td>
                <td class="text-right">{{ team.creationdate }}</td>
                <td class="text-right">
                    <a href="{{ team.url('accept') }}" class="btn btn-sm btn-success">{{ i18n.trans('accept') }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="bg-warning">
                    {{ i18n.trans('no-data') }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
