{% extends "Section/ListSection.html.twig" %}
{% set section = fsc.getCurrentSection() %}

{% block sectionBody %}
    <div class="custom-scroll">
        <table class="table table-hover">
            <thead>
                <tr>
                    {% if fsc.url() != 'EditLanguage' %}
                        <th>
                            {{ i18n.trans('langcode') }}
                        </th>
                    {% endif %}
                    {% if fsc.url() != 'EditTranslation' %}
                        <th>
                            {{ i18n.trans('name') }}
                        </th>
                    {% endif %}
                    <th>{{ i18n.trans('translation') }}</th>
                    <th>{{ i18n.trans('description') }}</th>
                    <th class="text-right">{{ i18n.trans('last-update') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for translation in section.cursor %}
                    {% set tdClass = translation.needsrevision ? 'bg-warning' : 'bg-success' %}
                    <tr class="clickableRow c-hand" data-href="{{ asset(translation.url()) }}">
                        {% if fsc.url() != 'EditLanguage' %}
                            <td>{{ translation.langcode }}</td>
                        {% endif %}
                        {% if fsc.url() != 'EditTranslation' %}
                            <td>
                                {{ translation.name }}
                            </td>
                        {% endif %}
                        <td class="{{ tdClass }}">
                            {{ translation.translation | raw }}
                        </td>
                        <td class="{{ tdClass }}">
                            {{ translation.description | raw }}
                        </td>
                        <td class="text-right">{{ translation.lastmod }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="bg-warning">
                            {{ i18n.trans('no-data') }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}