{% extends "Master/PortalTemplate.html.twig" %}

{% block body %}
    <div class="body-section">
        <br/>
        <div class="container grid-lg">
            <div class="columns">
                <div class="column">
                    {{ _self.showFormTrees(fsc, i18n) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% macro showFormTrees(fsc, i18n) %}
    <div class="card">
        <div class="card-body">
            {% if fsc.currentTree %}
                <h1 class="h4">
                    <i class="{{ fsc.currentTree.icon }}" aria-hidden="true"></i> {{ fsc.currentTree.title }}
                </h1>
                {{ fsc.currentTree.body() | raw }}
            {% else %}
                <h1 class="h3">
                    <i class="{{ fsc.webPage.icon }}" aria-hidden="true"></i> {{ fsc.title }}
                </h1>
                <p>{{ fsc.description }}</p>
            {% endif %}
            <dl>
                {% for action in fsc.endActions %}
                    <dd>
                        <i class="{{ action.icon }} fa-fw" aria-hidden="true"></i> <a href="{{ action.link }}">{{ action.title }}</a>
                        <small>{{ action.observations }}</small>
                    </dd>
                {% endfor %}
                {% for tree in fsc.formTrees %}
                    <dd>
                        <i class="{{ tree.icon }} fa-fw" aria-hidden="true"></i>&nbsp; <a href="{{ tree.url('public') }}">{{ tree.title }}</a>
                        {% if fsc.user %}
                            <span class="label">{{ tree.visitcount }}</span>
                        {% endif %}
                    </dd>
                {% endfor %}
            </dl>
        </div>
    </div>
{% endmacro %}