{% extends "Master/PortalTemplate.html.twig" %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('Plugins/Community/node_modules/simplemde/dist/simplemde.min.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('Plugins/Community/node_modules/simplemde/dist/simplemde.min.js') }}"></script>
    <script>
        var simplemde = new SimpleMDE();
    </script>
{% endblock %}

{% block body %}
    <div class="body-section body-padding">
        <div class="container">
            <div class="columns">
                <div class="column col-4 col-xs-12">
                    <a href="{{ fsc.webDocPage.url('link') }}" class="btn">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i> {{ i18n.trans('back') }}
                    </a>
                </div>
                <div class="column col-8 col-xs-12">
                    <h1 class="text-capitalize text-right">{{ i18n.trans('web-doc-page') }}</h1>
                </div>
            </div>
            <form action="{{ fsc.url() }}" method="post">
                <input type="hidden" name="code" value="{{ fsc.webDocPage.primaryColumnValue() }}"/>
                <input type="hidden" name="idparent" value="{{ fsc.webDocPage.idparent }}"/>
                <input type="hidden" name="idproject" value="{{ fsc.webDocPage.idproject }}"/>
                <input type="hidden" name="langcode" value="{{ fsc.webDocPage.langcode }}"/>
                <div class="columns">
                    <div class="column col-12">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">{{ i18n.trans('title') }}</span>
                                <input type="text" name="title" value="{{ fsc.webDocPage.title }}" class="form-input" autocomplete="off" autofocus=""/>
                                <button class="btn btn-primary input-group-btn">{{ i18n.trans('save') }}</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="body" class="form-input">{{ fsc.webDocPage.body }}</textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
