{% extends "Master/PortalTemplate.html.twig" %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('Plugins/Community/node_modules/simplemde/dist/simplemde.min.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('Plugins/Community/node_modules/simplemde/dist/simplemde.min.js') }}"></script>
    <script>
        var simplemde = new SimpleMDE();
    </script>
{% endblock %}

{% block body %}
    <div class="body-section body-padding">
        <form action="{{ fsc.url() }}" method="post">
            <input type="hidden" name="action" value="save"/>
            <input type="hidden" name="code" value="{{ fsc.webDocPage.primaryColumnValue() }}"/>
            <input type="hidden" name="idproject" value="{{ fsc.webDocPage.idproject }}"/>
            <input type="hidden" name="langcode" value="{{ fsc.webDocPage.langcode }}"/>
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <a href="{{ fsc.getBackUrl() }}" class="btn">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i> {{ i18n.trans('back') }}
                        </a>
                    </div>
                    <div class="column text-right">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save fa-fw" aria-hidden="true"></i> {{ i18n.trans('save') }}
                        </button>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <br/>
                    </div>
                </div>
                <div class="columns">
                    <div class="column col-4 col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">{{ i18n.trans('title') }}</span>
                                <input type="text" name="title" value="{{ fsc.webDocPage.title }}" class="form-input" autocomplete="off" autofocus=""/>
                            </div>
                        </div>
                    </div>
                    <div class="column col-4 col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">{{ i18n.trans('parent') }}</span>
                                <select name="idparent" class="form-select">
                                    <option value="">{{ i18n.trans('none') }}</option>
                                    <option value="">------</option>
                                    {% for docPage in fsc.getProjectDocPages() %}
                                        {% if docPage.iddoc == fsc.webDocPage.idparent %}
                                            <option value="{{ docPage.iddoc }}" selected="">{{ docPage.title }}</option>
                                        {% else %}
                                            <option value="{{ docPage.iddoc }}">{{ docPage.title }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="column col-4 col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">{{ i18n.trans('sort') }}</span>
                                <input type="number" name="ordernum" value="{{ fsc.webDocPage.ordernum }}" class="form-input" autocomplete="off"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <br/>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="form-group">
                            <textarea name="body" class="form-input">{{ fsc.fixHtml(fsc.webDocPage.body) }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <a href="#" class="btn btn-error" onclick="return showModal('deleteDocModal');">
                            <i class="fa fa-trash fa-fw" aria-hidden="true"></i> {{ i18n.trans('delete') }}
                        </a>
                    </div>
                    <div class="column text-right">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save fa-fw" aria-hidden="true"></i> {{ i18n.trans('save') }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal modal-sm" id="deleteDocModal">
        <a href="#close" class="modal-overlay" aria-label="Close" onclick="return hideModal('deleteDocModal');"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href="#close" onclick="return hideModal('deleteDocModal');" class="btn btn-clear float-right" aria-label="Close"></a>
                <div class="modal-title h5">{{ i18n.trans('confirm-delete') }}</div>
                <p>{{ i18n.trans('are-you-sure') }}</p>
            </div>
            <div class="modal-body">
                <div class="content">
                    <a href="{{ fsc.webDocPage.url() }}&action=delete" class="btn btn-error">
                        <i class="fa fa-trash fa-fw" aria-hidden="true"></i> {{ i18n.trans('delete') }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
