{% extends "Master/PortalTemplate.html.twig" %}

{% block body %}
    <div class="body-section body-padding">
        <div class="container">
            <div class="columns">
                <div class="column col-9">
                    <h1 class="text-capitalize">
                        <i class="fa {{ fsc.webPage.icon }}" aria-hidden="true"></i> {{ fsc.webPage.title }}
                    </h1>
                    <ul>
                        {% for docPage in fsc.docPages %}
                            <li>
                                <a href="{{ asset(fsc.getDocPageUrl(docPage)) }}">{{ docPage.title }}</a>
                                {% for childrenPage in docPage.getChildrenPages() %}
                                    <ul>
                                        <li>
                                            <a href="{{ asset(fsc.getDocPageUrl(childrenPage)) }}">{{ childrenPage.title }}</a>
                                        </li>
                                    </ul>
                                {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="column col-3">
                    <ul class="menu">
                        <li class="divider" data-content="Actions">
                        </li>
                        <li class="menu-item">
                            <a href="{{ asset('EditWebDocPage?idproject=' ~ fsc.currentProject.idproject ~ '&langcode=' ~ fsc.webPage.langcode) }}">
                                <i class="fa fa-plus fa-fw" aria-hidden="true"></i> {{ i18n.trans('new') }}
                            </a>
                        </li>
                        <li class="divider" data-content="Projects">
                        </li>
                        {% for project in fsc.projects %}
                            <li class="menu-item">
                                {% if project.idproject == fsc.currentProject.idproject %}
                                    <i class="fa fa-folder fa-fw" aria-hidden="true"></i> <b>{{ project.name }}</b>
                                {% else %}
                                    <a href="{{ asset(fsc.getProjectUrl(project)) }}">
                                        <i class="fa fa-folder fa-fw" aria-hidden="true"></i> {{ project.name }}
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}