{% extends "Master/PortalTemplate.html.twig" %}

{% block body %}
    <div class="body-section body-padding">
        <div class="container">
            <div class="columns">
                <div class="column col-9 col-xs-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ asset(fsc.getProjectUrl(fsc.currentProject)) }}">{{ fsc.currentProject.name }}</a>
                        </li>
                        {% if fsc.docPage.idparent %}
                            {% set parentPage = fsc.docPage.getParentPage() %}
                            <li class="breadcrumb-item">
                                <a href="{{ asset(parentPage.url('link')) }}">{{ parentPage.title }}</a>
                            </li>
                        {% endif %}
                    </ul>
                    <h1>{{ fsc.docPage.title }}</h1>
                    {{ fsc.parsedown(fsc.docPage.body) | raw }}
                    <ul>
                        {% for docPage in fsc.docPages %}
                            <li>
                                <a href="{{ asset(docPage.url('link')) }}">{{ docPage.title }}</a>
                                {% for childrenPage in docPage.getChildrenPages() %}
                                    <ul>
                                        <li>
                                            <a href="{{ asset(childrenPage.url('link')) }}">{{ childrenPage.title }}</a>
                                        </li>
                                    </ul>
                                {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="column col-3 col-xs-12">
                    {% set sisterPages = fsc.docPage.getSisterPages() %}
                    {% if sisterPages | length > 1 %}
                        <h3>
                            <a href="{{ asset(parentPage.url('link')) }}">{{ parentPage.title }}</a>
                        </h3>
                        <ul>
                            {% for sisterPage in fsc.docPage.getSisterPages() %}
                                <li>
                                    {% if sisterPage.iddoc == fsc.docPage.iddoc %}
                                        <b>{{ sisterPage.title }}</b>
                                    {% else %}
                                        <a href="{{ asset(sisterPage.url('link')) }}">{{ sisterPage.title }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <ul class="menu">
                        <li class="divider" data-content="{{ i18n.trans('actions') }}">
                        </li>
                        <li class="menu-item">
                            <a href="{{ asset('EditWebDocPage?idparent=' ~ fsc.docPage.iddoc) }}">
                                <i class="fa fa-file-o fa-fw" aria-hidden="true"></i> {{ i18n.trans('add') }}
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="{{ asset(fsc.docPage.url()) }}">
                                <i class="fa fa-edit fa-fw" aria-hidden="true"></i> {{ i18n.trans('edit') }}
                            </a>
                        </li>
                        <li class="divider" data-content="{{ i18n.trans('properties') }}">
                        </li>
                        <li class="menu-item">
                            <i class="fa fa-calendar fa-fw" aria-hidden="true"></i> {{ i18n.trans('created') }}:
                            {{ fsc.docPage.creationdate }}
                        </li>
                        <li class="menu-item">
                            <i class="fa fa-calendar fa-fw" aria-hidden="true"></i> {{ i18n.trans('last-update') }}:
                            {{ fsc.docPage.lastmod }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
