{% extends "Master/PortalTemplate.html.twig" %}

{% block body %}
    <div class="body-section body-padding">
        <div class="container">
            <div class="columns">
                <div class="column col-9 col-md-12">
                    <h1 class="text-capitalize">{{ fsc.webPage.title }}</h1>
                    <ul>
                        {% for docPage in fsc.docPages %}
                            <li>
                                <a href="{{ docPage.url('public') }}">{{ docPage.title }}</a>
                                {% for childrenPage in docPage.getChildrenPages() %}
                                    <ul>
                                        <li>
                                            <a href="{{ childrenPage.url('public') }}">{{ childrenPage.title }}</a>
                                        </li>
                                    </ul>
                                {% endfor %}
                            </li>
                        {% else %}
                            <li>
                                {{ i18n.trans('no-data') }}
                            </li>
                        {% endfor %}
                    </ul>
                    {% if fsc.contact or fsc.user %}
                        <a class="btn btn-success" href="{{ asset('EditWebDocPage?idproject=' ~ fsc.currentProject.idproject ~ '&langcode=' ~ fsc.webPage.langcode) }}">
                            <i class="fas fa-file fa-fw" aria-hidden="true"></i> {{ i18n.trans('add') }}
                        </a>
                    {% endif %}
                </div>
                <div class="column col-3 col-md-12">
                    <ul class="menu">
                        <li class="divider" data-content="{{ i18n.trans('projects') }}">
                        </li>
                        {% for project in fsc.projects %}
                            <li class="menu-item">
                                {% if project.idproject == fsc.currentProject.idproject %}
                                    <i class="fas fa-folder-open fa-fw" aria-hidden="true"></i> <b>{{ project.name }}</b>
                                {% else %}
                                    <a href="{{ asset(fsc.getProjectUrl(project)) }}">
                                        <i class="fas fa-folder fa-fw" aria-hidden="true"></i> {{ project.name }}
                                    </a>
                                {% endif %}
                            </li>
                        {% else %}
                            <li class="menu-item">
                                {{ i18n.trans('no-data') }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}