{% extends "Master/PortalTemplate.html.twig" %}

{% block body %}
    <div class="body-section body-padding">
        <div class="container">
            <div class="columns">
                <div class="col-12">
                    <h1 class="text-capitalize">
                        <i class="fa fa-book" aria-hidden="true"></i> {{ fsc.webPage.title }}
                    </h1>
                </div>
            </div>
            <div class="columns">
                <div class="col-9">
                    <ul>
                        {% for docPage in fsc.docPages %}
                            <li>
                                <a href="{{ asset(docPage.url()) }}">{{ docPage.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-3">
                    <ul class="menu">
                        <li class="divider" data-content="Actions">
                        </li>
                        <li class="menu-item">
                            <a href="{{ asset('EditWebDocPage?idproject=' ~ fsc.currentProject.idproject) }}">{{ i18n.trans('new') }}</a>
                        </li>
                        <li class="divider" data-content="Projects">
                        </li>
                        {% for project in fsc.projects %}
                            <li class="menu-item">
                                {% if project.idproject == fsc.currentProject.idproject %}
                                    <b>{{ project.name }}</b>
                                {% else %}
                                    <a href="{{ asset(fsc.getProjectUrl(project)) }}">{{ project.name }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}