{% extends "Master/PortalTemplate.html.twig" %}

{% block body %}
    <div class="body-section body-padding">
        <div class="container">
            <div class="columns">
                <div class="column col-9">
                    <h1 class="text-capitalize">
                        <i class="fa {{ fsc.webPage.icon }}" aria-hidden="true"></i> {{ fsc.docPage.title }}
                    </h1>
                    {{ fsc.parsedown(fsc.docPage.body) | raw }}
                    <ul>
                        {% for docPage in fsc.docPages %}
                            <li>
                                <a href="{{ asset(docPage.url('link')) }}">{{ docPage.title }}</a>
                                {% for childrenPage in docPage.getChildrenPages() %}
                                    <ul>
                                        <li>
                                            <a href="{{ asset(childrenPage.url('link')) }}">{{ childrenPage.title }}</a>
                                        </li>
                                    </ul>
                                {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="column col-3">
                    <ul class="menu">
                        <li class="divider" data-content="{{ i18n.trans('actions') }}">
                        </li>
                        <li class="menu-item">
                            <a href="{{ asset('EditWebDocPage?idparent=' ~ fsc.docPage.iddoc) }}">
                                <i class="fa fa-plus fa-fw" aria-hidden="true"></i> {{ i18n.trans('new') }}
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="{{ asset(fsc.docPage.url()) }}">
                                <i class="fa fa-edit fa-fw" aria-hidden="true"></i> {{ i18n.trans('edit') }}
                            </a>
                        </li>
                        <li class="divider" data-content="{{ i18n.trans('project') }}">
                        </li>
                        <li class="menu-item">
                            <a href="{{ asset(fsc.getProjectUrl(fsc.currentProject)) }}">
                                <i class="fa fa-folder fa-fw" aria-hidden="true"></i> {{ fsc.currentProject.name }}
                            </a>
                        </li>
                        {% if fsc.docPage.idparent %}
                            {% set parentPage = fsc.docPage.getParentPage() %}
                            <li class="menu-item">
                                <a href="{{ asset(parentPage.url('link')) }}">
                                    <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> {{ parentPage.title }}
                                </a>
                            </li>
                        {% endif %}
                        <li class="divider" data-content="{{ i18n.trans('more') }}">
                        </li>
                        {% for sisterPage in fsc.docPage.getSisterPages() %}
                            <li class="menu-item">
                                {% if sisterPage.iddoc == fsc.docPage.iddoc %}
                                    <i class="fa fa-book fa-fw" aria-hidden="true"></i> <b>{{ sisterPage.title }}</b>
                                {% else %}
                                    <a href="{{ asset(sisterPage.url('link')) }}">
                                        <i class="fa fa-book fa-fw" aria-hidden="true"></i> {{ sisterPage.title }}
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
