{% extends "Master/PortalTemplate.html.twig" %}

{% block body %}
    <div class="body-section body-padding">
        <br/>
        <div class="container grid-lg">
            <div class="columns">
                <div class="column">
                    <h1 class="h3 text-capitalize">
                        <i class="fas fa-book" aria-hidden="true"></i> {{ fsc.webPage.title }}
                    </h1>
                </div>
                <div class="column text-right">
                    <div class="dropdown">
                        <a class="btn btn-link dropdown-toggle" tabindex="0">
                            {{ fsc.currentProject.name }}
                            <i class="fas fa-caret-down fa-fw" aria-hidden="true"></i>
                        </a>
                        <ul class="menu text-left">
                            {% for project in fsc.projects %}
                                <li class="menu-item">
                                    {% if project.idproject == fsc.currentProject.idproject %}
                                        <b>{{ project.name }}</b>
                                    {% else %}
                                        <a href="{{ asset(fsc.getProjectUrl(project)) }}">
                                            {{ project.name }}
                                        </a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="divider"></div>
                    <ul>
                        {% for docPage in fsc.docPages %}
                            <li>
                                <a class="h5" href="{{ docPage.url('public') }}">{{ docPage.title }}</a>
                                <br/>
                                <cite>{{ docPage.description(140) }}</cite>
                                <ul>
                                    {% for childrenPage in docPage.getChildrenPages() %}
                                        {% if loop.index < 4 %}
                                            <li>
                                                <a href="{{ childrenPage.url('public') }}">{{ childrenPage.title }}</a>
                                            </li>
                                        {% elseif loop.index == 4 %}
                                            <li>
                                                <a href="{{ docPage.url('public') }}">{{ i18n.trans('more') }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li>
                                {{ i18n.trans('no-data') }}
                            </li>
                        {% endfor %}
                    </ul>
                    {% if fsc.contact or fsc.user %}
                        <a class="btn btn-success" href="{{ asset('EditWebDocPage?idproject=' ~ fsc.currentProject.idproject ~ '&langcode=' ~ fsc.webPage.langcode) }}">
                            <i class="fas fa-file fa-fw" aria-hidden="true"></i> {{ i18n.trans('add') }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}