{% extends "Master/PortalTemplate.html.twig" %}

{% block body %}
    {% import _self as macros %}

    <div class="body-section body-padding">
        <div class="container">
            <div class="columns">
                <div class="column col-6">
                    <div class="show-xs">
                        <div class="dropdown">
                            <a href="#" class="btn dropdown-toggle" tabindex="0">
                                <i class="fas fa-book fa-fw" aria-hidden="true"></i>
                                {{ i18n.trans('index') }}
                                <i class="fas fa-caret-down fa-fw" aria-hidden="true"></i>
                            </a>
                            {{ macros.showIndexUlMenu(fsc.docIndex) }}
                        </div>
                        <br/><br/>
                    </div>
                    <a class="btn hide-xs" href="{{ asset(fsc.getProjectUrl(fsc.currentProject)) }}">
                        <i class="fas fa-folder-open fa-fw" aria-hidden="true"></i> {{ fsc.currentProject.name }}
                    </a>
                </div>
                {% if fsc.contact or fsc.user %}
                    <div class="column text-right">
                        <a href="{{ asset(fsc.docPage.url()) }}" class="btn btn-success">
                            <i class="fas fa-edit fa-fw" aria-hidden="true"></i> {{ i18n.trans('edit') }}
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="columns">
                <div class="column">
                    <div class="hide-xs">
                        {{ macros.showIndexUl(fsc.docIndex) }}
                    </div>
                </div>
                <div class="divider-vert hide-md"></div>
                <div class="column col-9 col-md-12">
                    {% if fsc.docPage.idparent %}
                        {% set parentPage = fsc.docPage.getParentPage() %}
                        <b>{{ parentPage.title | raw  }}</b>
                    {% endif %}
                    <h1>{{ fsc.docPage.title | raw }}</h1>
                    {{ fsc.docPage.body('html') | raw }}
                    {% if fsc.docPages is not empty %}
                        <h5>
                            <i class="fas fa-folder-open fa-fw" aria-hidden="true"></i> {{ i18n.trans('even-more') }}:
                        </h5>
                    {% endif %}
                    <ul>
                        {% for docPage in fsc.docPages %}
                            <li>
                                <a href="{{ docPage.url('public') }}">{{ docPage.title | raw  }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% if fsc.contact or fsc.user %}
                        {% set addUrl = 'EditWebDocPage?idparent=' ~ fsc.docPage.iddoc ~ '&idproject=' ~ fsc.docPage.idproject ~ '&langcode=' ~ fsc.docPage.langcode %}
                        <a href="{{ asset(addUrl) }}" class="btn btn-success">
                            <i class="fas fa-file fa-fw" aria-hidden="true"></i> {{ i18n.trans('add') }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% macro showIndexUl(items) %}
    {% import _self as macros %}

    <ul>
        {% for item in items %}
            <li>
                <a href="{{ item.page.url('public') }}">
                    {% if item.selected %}
                        <b>{{ item.page.title | raw }}</b>
                    {% else %}
                        {{ item.page.title | raw }}
                    {% endif %}
                </a>
                {% if item.more | length > 0 %}
                    {{ macros.showIndexUl(item.more) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro showIndexUlMenu(items) %}
    {% import _self as macros %}

    <ul class="menu menu-big" style="width: 285px;">
        {% for item in items %}
            <li class="menu-item">
                <a href="{{ item.page.url('public') }}">
                    {% if item.selected %}
                        <b>{{ item.page.title | raw  }}</b>
                    {% else %}
                        {{ item.page.title | raw  }}
                    {% endif %}
                </a>
                {% if item.more | length > 0 %}
                    {{ macros.showIndexUl(item.more) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}